<div class="content">
  <article id="{{ .Params.layout }}-{{ .Params.slug }}" class="article article-type-{{ .Params.layout }}" itemscope
    itemtype="http://schema.org/BlogPosting">
    <!-- TODO gallary -->
    {{- partial "post/gallery" .}}
    {{- if not (eq .Title "About") }}
    <div class="article-header">
      {{- if or (.Permalink) (.Title)}}
      {{ .Scratch.Set "class_name" "article-title" }}
      {{- partial "post/title.html" . }}
      {{- end }}
      <div class="article-meta">
        {{ .Scratch.Set "class_name" "article-date" }}
        {{- partial "post/date.html" . }}
        {{- partial "post/category.html" . }}
        {{- partial "post/tag.html" . }}
        {{- partial "post/pv.html" . }}
        {{ if $.Site.Params.comment.type }}<span class="post-comment"><i class="icon icon-comment"></i> <a href="{{ .RelPermalink }}#comments"
            class="article-comment-link">{{T "article_comments" }}</a></span>{{ end }}
        {{- partial "post/wc.html" . }}
      </div>
    </div>
    {{- end }}
    <div class="article-entry marked-body" itemprop="articleBody">
      {{ $featured := (.Resources.ByType "image").GetMatch "*featured*" }}
      {{ if and ($featured) (not .Params.featured_image.hide_featured)}}
        {{ $image := $featured }}

        {{ $width := "600"}}
        {{ $image = $featured.Resize ( printf "%sx" $width ) }}
        {{ $image_lg := $featured.Resize "800x" }}
        {{ $image_sm := $featured.Resize "320x" }}

        <figure class="figure title">
        {{ if gt $featured.Width $width }}<a href="{{ $featured.RelPermalink }}" target="_blank" {{ with .Params.featured_image.caption }}title="{{.}}"{{ end }}>{{ end }}
        	<img sizes="(max-width: 350px) 320px, 600px" 
                srcset="
                {{ if gt $featured.Width "320" }} {{ with $image_sm.RelPermalink }}{{.}} 320w{{ end }} {{ end }}
                {{ with $featured.RelPermalink }}, {{.}} {{ $featured.Width }}w{{ end }}
                {{ if gt $featured.Width $width }} {{ with $image.RelPermalink }}, {{.}} {{ $width }}w{{ end }} {{ end }}
                {{ if gt $featured.Width "800" }} {{ with $image_lg.RelPermalink }}, {{.}} 800w{{ end }} {{ end }}
                "
                src="{{ if gt $featured.Width $width }}{{ $image.RelPermalink }}{{ else }}{{ $featured.RelPermalink }}{{ end}}" {{ with .Params.featured_image.caption }}alt="{{.}}"{{ else }}alt=""{{ end }}>
        {{ if gt $featured.Width $width }}</a>{{ end }}
          {{ with .Params.featured_image.caption }}
          <figcaption>
          <p class="text-muted">{{ . }}</p>
          </figcaption>
          {{ end }}
        </figure>
      {{ end }}
      {{ .Content }}
    </div>
    {{- with .Site.Params.enablePostCopyright }}
    <div class="article-footer">
      {{- partial "post/copyright.html" . }}
    </div>
    {{- end }}
  </article>
  {{- partial "post/comment.html" . }}
</div>
{{- partial "post/nav.html" . }}
{{- partial "post/donate.html" . }}
