{{- define "content"}}

<main class="main" role="main">
  {{/* partial "archive-list.html" . - */}} 
  <div class="content article-list">
    {{- range where .Site.RegularPages "Type" "posts" -}}
    <article
      class="article article-type-page"
      itemscope
      itemtype="http://schema.org/BlogPosting"
    >
      {{ $featured := (.Resources.ByType "image").GetMatch "*featured*" }}
      {{ $thumb := (.Resources.ByType "image").GetMatch "*thumb*" }}
	  {{ if $thumb }}
        {{ $featured = $thumb }}
      {{ end }}

      {{ if and $featured (.Params.featured_image.show_thumb)}}
        {{ $image := $featured }}
        {{ $image = $featured.Resize "600x" }}
        <div class="featured-image-wrapper mt-4 mb-4"> {{/* style="max-width: {{$image.Width}}px; max-height: {{$image.Height}}px;" */}}
          <a href="{{- .RelPermalink }}"><img src="{{ $image.RelPermalink }}" alt="" class="featured-image"></a>
        </div>
      {{ end }}
      <div class="article-header{{ if and $featured (.Params.featured_image.show_thumb) }} with-image{{ end }}">
        {{- .Scratch.Set "class_name" "article-title" }}
        {{ partial "post/title.html" . -}}
        {{- .Scratch.Delete "class_name"}}
      </div>
      {{- if .Summary }}
      <div class="article-entry article-summary text-muted" itemprop="description">
        {{- .Summary -}}
      </div>
      {{- end }}
      <p class="article-meta">
        {{- partial "post/date.html" . }}
        {{- partial "post/category.html" . }}
        {{- partial "post/tag.html" . }}
        <span class="post-comment"><i class="icon icon-comment"></i> <a href="{{- .RelPermalink }}#comments" class="article-comment-link">{{- T "article_comments" }}</a></span>
        {{- partial "post/wc.html" . }}
      </p>
    </article>
    {{- end -}}
  </div>
  {{/* partial "pagination.html" . - */}}
</main>
{{- end }}

