{{- define "content"}}

<main class="main" role="main">
  {{/* partial "archive-list.html" . - */}} 
  <div class="content article-list">
    {{- range where .Site.RegularPages "Type" "posts" -}}
    <article
      class="article article-type-page"
      itemscope
      itemtype="http://schema.org/BlogPosting"
    >
      {{ $featured := (.Resources.ByType "image").GetMatch "*featured*" }}
      {{ $thumb := (.Resources.ByType "image").GetMatch "*thumb*" }}
	  {{ if $thumb }}
        {{ $featured = $thumb }}
      {{ end }}

      {{ if and $featured (.Params.featured_image.show_thumb)}}
        {{ $image_lg := $featured.Resize "800x" }}
        {{ $image := $featured.Resize "500x" }}
        {{ $image_sm := $featured.Resize "320x" }}
        <div class="featured-image-wrapper mt-4 mb-4"> 
          <a href="{{- .RelPermalink }}"><img sizes="(max-width: 350px) 320px, 500px" srcset="{{ if ge $featured.Width "800" }}{{ $image_lg.RelPermalink }} 800w, {{ end }}{{ $image.RelPermalink }} 500w, {{ $image_sm.RelPermalink }} 320w" src="{{ $image.RelPermalink }}" alt="" class="featured-image"></a>
        </div>
      {{ end }}
      <div class="article-header{{ if and $featured (.Params.featured_image.show_thumb) }} with-image{{ end }}">
        {{ partial "post/title.html" . -}}
      </div>
      {{- if .Summary }}
      <div class="article-entry article-summary text-muted" itemprop="description">
        {{- .Summary -}}
      </div>
      {{- end }}
      <p class="article-meta">
        {{- partial "post/date.html" . }}
        {{- partial "post/category.html" . }}
        {{- partial "post/tag.html" . }}
        {{ if $.Site.Params.comment.type }}<span class="post-comment"><i class="icon icon-comment"></i> <a href="{{- .RelPermalink }}#comments" class="article-comment-link">{{- T "article_comments" }}</a></span>{{ end }}
        {{- partial "post/wc.html" . }}
      </p>
    </article>
    {{- end -}}
  </div>
  {{/* partial "pagination.html" . - */}}
</main>
{{- end }}

